.div-login {
  display: grid;
  width: 400px;
  margin: auto;
  margin-top: 200px;
}
.input-data {
  width: 400px;
}

.div-register {
  display: grid;
  width: 400px;
  margin: auto;
  margin-top: 200px;
}

.p-change-view{
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}



