<div class = "div-page">
  <div class = "div-content">
    <div style="margin-right: 16px">
      <mat-card class="card-movie" *ngFor="let movie of movieList" (click)="onSelectMovie(movie)">
        <p class="p-text">Title: <span class="p-title">{{movie.title}}</span></p>
        <p class="p-text">Description: {{movie.description}}</p>
        <p class="p-text">Year: {{movie.year}}</p>
        <p class="p-text">Director: {{movie.director}}</p>
      </mat-card>
    </div>
    <app-add-edit-delete-movie (changeData)="loadMovies()" [movie]="selectedMovie"></app-add-edit-delete-movie>
  </div>
</div>
